{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Kirill Kharitonov</a>
                <small class="text-muted">12.07.2019</small>
            </div>
            <h2><a class="article-title" href="#">First Post</a></h2>
            <p class="article content">Content of the post</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Kirill Kharitonov</a>
                <small class="text-muted">13.07.2019</small>
            </div>
            <h2><a class="article-title" href="#">Second Post</a></h2>
            <p class="article content">Content of the post</p>
        </div>
    </article>
{% endblock content %}